/* ------------------------------------
Create Tourament Area Start Here 
---------------------------------------*/
div.tournament-section.tournament-main{
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
}
div.create-tournament {
    margin-left:170px;
}
.page-header{
    margin-top: 0px;
}
.page-header small{
    font-size: 16px;
}
.page-header h4{
    margin-bottom: 10px;
}
label{
    margin-bottom: 0px;
}
.logo-tournament img{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    border: 1px solid #326295;
    padding: 5px;
}
.set-logo-tournament{
    margin-top: 5px;
    width: 100%;
}
div.tournament-section.tournament-main .submit-create{
    width: 100%;
}
    /* Style tab links */
    .tablink {
        background-color: #d87474;
        color: white;
        float: left;
        border: 1px solid #fff ;
        outline: none;
        cursor: pointer;
        font-size: 16px;
        width: 33.333%;
        padding:5px;
    }
    .tablink img{
        width: 50px;
    }
    
    /* Style the tab content (and add height:100% for full page content) */
    div#tabcontent {
        color: #505050;
        padding: 20px 20px 20px 20px;
        margin-bottom: 20px;
        height: 100%;
        font-size: 14px;
        border-left:1px solid #326295;
        border-right:1px solid #326295;
        border-bottom:1px solid #326295;
    }
    
    /* optionsRound CSS  */
    label.tabOption{
        background-color: #fff;
        color: #111111;
        float: left;
        border: 1px solid #326295 ;
        outline: none;
        cursor: pointer;
        padding: 5px;
        font-size: 17px;
    }
    label.btn.active{
        background-color: #326295;
        color: #fff;
    }

    /* allowRegister CSS for checkbox */
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }
    .switch input { 
        opacity: 0;
        width: 0;
        height: 0;
    }
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }
    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
    input:checked + .slider {
        background-color: #2196F3;
    }
    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }
    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }
    .slider.round:before {
        border-radius: 50%;
    }
    /* Input checked show */
    .required{
        color:#b80000d6;
    }
    .none{
        display: none;
    }
    input#register_permission{
        height: 20px;
        width: 20px;
    }
    
/* ------------------------------------
List Tournament Area Start Here 
---------------------------------------*/
.header-profile{
    color: #111;
    padding: 10px 10px 0px 10px;
}
.header-profile #header-information {
    margin-bottom: 10px;
}
.header-profile a h5 strong{ 
    color: #337ab7;
}
.header-avatar{
    width: 150px;
    border-radius: 50%;
    border: 1px solid #326295;
    padding: 5px;
}
.header-logo{
    /* padding-top: 0px; */
}
.tablist{
    margin-top: 10px;
}
.tablist .nav-tabs li a{
    color: #337ab7;
}
.list-section.list-main .container .media{
    margin: 10px;
    padding: 5px;
    border: 1px solid #337ab7;
}
div.media-left{
    width: 10%;
}
h1, h2, h3, h4, h5, h6{
    margin-bottom: 5px;
}
p{
    margin-bottom: 5px;
}

/* ------------------------------------
Setting Tournament Area Start Here 
---------------------------------------*/
.setting-section.setting-main{
    padding: 15px 0px 25px 0px;
}
.nav>li>a {
    padding: 10px 10px;
}
.header-tournament{
    padding: 10px 0px 0px 0px;
    background-color: #ece1df47;
}
small.header-text{
    font-size: 13px;
}

/* Tablist header Style*/
#tablist-header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
}
#tablist-header .nav-tabs {
    border-bottom: 3px solid #326295;
}
#tablist-header ul li a {
    display: block;
    color: #000;
    text-decoration: none;
    border: none;
    border-radius: 0px;
}
  
/* Change the link color on hover */
#tablist-header ul li a:hover {
    background-color: #555;
    color: white;
}
#tablist-header ul li.active {
    background-color: #326295;
    color: white;
}
#tablist-header ul li.active a{
    background-color: #326295;
    color: white;
}

/* Tablist Stting Style*/
#tablist-setting ul {
    list-style-type: none;
    margin: -15px;
    padding: 0;
    background-color: #fff;
    border: 1px solid #555;
}
#tablist-setting ul li {
    border-bottom: 1px solid #555;
}
#tablist-setting ul li:last-child{
    border-bottom: none;
}
#tablist-setting ul li a {
    display: block;
    color: #000;
    text-decoration: none;
    border: none;
    border-radius: 0px;
}
  
/* Change the link color on hover */
#tablist-setting ul li a:hover {
    background-color: #555;
    color: white;
    
}
#tablist-setting ul li.active {
    background-color: #fbc02d;
}
#tablist-setting ul li.active a{
    background-color: #fbc02d;
}

/* ------------------------------------
Setting > thông tin chung
---------------------------------------*/
#update-tournament{
    font-size: 14px;
}
#update-tournament #preview-crop-logo img{
    height: 200px;
    width: 335px;
}
#update-tournament .logo-tournament img{
    border-radius: 10px;
    border: 1px solid #326295;
    padding: 5px;
}
#update-tournament .logo-tournament button{
    width: 100%;
    margin-top: 20px;
}

#update-tournament #charter input[type=file]{
    width: 100%;
    margin-left: 0px;
}

input[type=file]{
    width: 100%;
    margin-left: 40%;
}
strong.text-select{
    margin-left: 40%;
}

#logoModal .update-banner{
    width:1000px; 
    margin-left: -200px;
}

#content-about .page-header{
    margin-top: 20px;
}

/* ------------------------------------
Setting > trạng thái
---------------------------------------*/
ul li a span{
    float: right;
}

/* ------------------------------------
Search
--------------------------------------- */
#list-tournament .thumbnail{
    height: 307px;
    overflow: hidden;
}

#list-tournament p.author{
    margin-bottom: 5px !important;
}

div.search-tournament {
    padding-bottom: 10px;
}

/* Danh sách đăng ký */
.gradient{
    background:linear-gradient(135deg,#3bbf1a,#3916b7);
    color: #fff;
}
#register .register{
    margin: 5px 20% 0 20%;
    padding: 20px;
}
#register-form{
    border-radius: 5px;
    border: 1px solid #326295;
}
#table-status .btn{
    padding: 2px 2px;
}

#list-club .caption h6.text-center.club-name{
    height: 20px;
    overflow: hidden;
    color: #326295;
}
#list-club .caption hr{
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}
#list-club div.thumbnail{
    height: 280px;
}

/* ------------------------------------
    SETTING > SẮP XẾP BẢNG ĐẤU
--------------------------------------- */
#group-stage #list-group .page-header{
    padding: 8px 0 0 5px;
    margin-bottom: 0px;
}
#group-stage #list-group .page-header input{
    margin-left: 10px;
    width: 55px;
    text-align:center;
    border-radius: 5px;
    border: 1px solid;
}

#group-stage #list-group .group-container{
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 15px 0;
}
#group-stage #list-group ul li{
    border: 1px dashed  #ddd;
    padding: 3px;
    margin-bottom: 3px;
}

#match-stage #group-match .page-header{
    padding: 8px 0 0 5px;
    margin-bottom: 0px;
}
#match-stage #group-match .page-header input{
    margin-left: 10px;
    width: 55px;
    text-align:center;
    border-radius: 5px;
    border: 1px solid;
}

#match-stage #group-match .group-container{
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 5px;
    margin: 5px 0;
}
#match-stage #group-match .round-area ul li{
    border: 1px dashed  #ddd;
    padding: 3px;
    margin-bottom: 3px;
}

#match-stage #tab-k ul{
    margin-left: 35%;
}
#match-stage #tab-k ul li{
    float: left;
    margin-right: 30px;
}
#match-stage #tab-k ul li.active{
    border-bottom: 2px solid #326295;
}
#match-stage #tab-k ul li.active a h6{
    color: #326295;
    text-decoration: #326295;
}

#group-match .panel-body div.col{
    padding: 2px;
}

#group-match .panel-body{
    padding:5px;
}
.round-label{
    margin-top: 20px;
    padding: 2px; 
    background: #326295;
}
.round-label p{
    color: #fff;
}
#group-match #tab{
    margin-left: 43%;
}
#group-match #tab ul li{
    width: 35px;
    height: 35px;
    float: left;
    border: 1px solid #326295;
    border-radius: 50%;
    padding: 5px;
    text-align: center;
    margin-right: 3px;
}
#group-match #tab ul li.active{
    background: #326295;
}
#group-match #tab ul li.active a{
    color: #fff;
}
#knockout-match div.col{
    padding: 2px;
}
#tab1{
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

#tab1 ul{
    margin-left: 28%;
}
#tab1 ul li{
    float: left;
    margin-right: 30px;
}
#tab1 ul li.active{
    border-bottom: 2px solid #326295;
}
#tab1 ul li.active a h6{
    color: #326295;
    text-decoration: #326295;
}


/* SCHEDULE */
#schedule-detail div.col{
    margin-right: 0px;
}
#schedule-detail .club-name{
    white-space: nowrap;
    width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
}
#schedule .stt{
    width: 100px;
} 

#showMacthDetail img{
    width: 100px;
}
#showMacthDetail .modal-body .row.header{
    background:#326295; 
    color:#fff!important; 
    padding:10px 0;
}
#showMacthDetail .modal-body .row.header #goal{
    font-size: 40px;
    margin-top: 7%;
}
#showMatchDetail #result input.form-control{
    width: 30% !important;
}
#showMatchDetail #result .form-group.more-goal input{
    float: left;
}
#showMacthDetail span.glyphicon.glyphicon-minus{
    color: red;
}
div.more-yellow, div.more-red{
    margin: 5px 0!important;
}
#tab-k{
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
#tab-k ul{
    margin-left: 35%;
}
#tab-k ul li{
    float: left;
    margin-right: 30px;
}
#tab-k ul li.active{
    border-bottom: 2px solid #326295;
}
#tab-k ul li.active a h6{
    color: #326295;
    text-decoration: #326295;
}

/* RANHKING */
#ranking #tab{
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
#ranking #tab ul{
    margin-left: 40%;
}
#ranking #tab ul li{
    float: left;
    margin-right: 30px;
}
#ranking #tab ul li.active{
    border-bottom: 2px solid #326295;
}
#ranking #tab ul li.active a h6{
    color: #326295;
    text-decoration: #326295;
}
#ranking #stage-group{
    margin-left: 8%;
}
#ranking #stage-knockout{
    margin-left: 8%;
}